html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    .about{
        overflow: hidden;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       background-color: #000000;
        h1{
            margin: 0;
            padding: 5rem;
            color: #19CACA;
            font-size: 3rem;
            font-family: 'Courier New', Courier, monospace;
        }
        img{
            border-radius: 50%;
            border: 2px solid rgb(27, 181, 181);
        }
        p{
            color: white;
            font-size: 1.3rem;
            padding: 2rem;
        }
        .about_me{
            width: 55%;
            margin: auto;
            text-align: center;
        }

    }
}